.container_page {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.container_stretched {
  width: 100%;
  padding-top: var(--padding_large);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: var(--padding_large);
}

.container_middle {
  width: 100%;
  max-width: 1200px;
}

.flex_column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--padding_medium);
}

.flex_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--padding_small);
}

.flex_grid {
  display: grid;
  gap: var(--padding_medium);
}

.light {
  background-color: var(--color_baige_light);
}

.dark {
  background-color: var(--color_baige_dark);
}

.label_description {
  text-align: center;
}


/* ----- ----- NAVIGATION ------ ----- */
.navigation {
  top: 0;
  z-index: 100;
  position: fixed;
  padding-top: var(--padding_small);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: var(--padding_small);
}

.navigation .flex_column {
  gap: 0px;
}

.navigation_sticky {
  background-color: var(--color_black);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.25s ease-out;
  transition: box-shadow 0.25s ease-out;
}

.logo_small {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav_bar {
  height: 50px; /* Plus 2*15 padding = 80px */
  justify-content: space-between;
}

.nav_item {
  line-height: 40px;
  color: var(--color_baige_light);
  font-weight: 700;
}

.btn_menu {
  display: none;
  background: url(./public/iconMenu.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.btn_close {
  display: none;
  background: url(./public/iconClose.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  display: none;
}

.container_mobile_menu {
  top: 80px;
  left: 0px;
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  background-color: var(--color_dark_gray);
}

.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* ----- ----- Hero content ------ ----- */
.container_hero {
  width: 100%;
  height: 400px;
  background-image: url("./public/bgHeader.jpg");
  background-position: right;
  background-size: cover;
}

.content_hero {
  position: relative;
  height: 100%;
  z-index: 20;
}

.hero_overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  z-index: 10;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}

.image_app_store {
  height: var(--padding_large);
  min-height: var(--padding_large);
  object-fit: cover;
  text-decoration: none;
}

.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-container-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-image1 {
  width: 40px;
  object-fit: cover;
  margin-right: 15px;
}



.content_gallery {
  grid-template-columns: 1fr 1fr 1fr;
}

.content_release_notes {
  grid-template-columns: 1fr 1fr;
}

/* ----- ----- Legal section ----- ----- */
.landing-page-container-legal {
  width: 100%;
  max-width: 1200px;
  padding-top: var(--padding_large);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: var(--padding_large);
}

.landing-page-content-legal {
  width: 100%;
  display: grid;
  grid-gap: var(--padding_medium);
  margin-top: var(--padding_medium);
}

/* ----- ----- Contact section ----- ----- */
.container_contact {
  width: 100%;
  max-width: 1200px;
  display: grid;
  gap: var(--padding_medium);
  margin-top: var(--padding_medium);
}

.landing-page-input-name {
  width: 100%;
}

.landing-page-text09 {
  color: #c01010;
}
.landing-page-input-name1 {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-input-address {
  width: 100%;
}
.landing-page-text11 {
  color: #c01010;
}

.landing-page-input-email {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-label-subject {
  width: 100%;
}

.landing-page-input-subject {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-container1 {
  width: 100%;
}

.landing-page-textarea {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-button {
  width: 120px;
  padding: 15px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  background-color: #ece8d8;
}


/* ----- ----- FOOTER ----- ----- */
.landing-page-footer {
  flex: 0;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
  padding-bottom: 15px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.content_footer {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-label-logo {
  color: #ece8d8;
}
.landing-page-label-copyright {
  color: #ece8d8;
}


.collapsible-collepsable {
  width: 100%;
  height: 54px;
}
.collapsible-button {
  width: 100%;
  height: var(--padding_large);
  content: '\02795';
  padding: 15px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 0px;
  background-color: #ececec;
}

/* ----- ----- Handling responsivity ----- ----- */
@media(max-width: 991px) {
  .content_gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 767px) {
  .nav_menu {
    display: none;
  }

  .btn_menu {
    display: block;
  }

  .content_gallery {
    grid-template-columns: 1fr;
  }

  .content_release_notes {
    grid-template-columns: 1fr;
  }
  
  .content_footer {
    flex-direction: column;
  }
}

@media(max-width: 479px) {

}