:root {
  --size_header: 80px;
  --size_button_small: 46px;
  --size_button_large: 60px;
  --padding_small: 15px;
  --padding_medium: 30px;
  --padding_large: 60px;
  --corner_radius: 20px;
}

.container_page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color_black);
}

.container_stretched {
  width: 100%;
  padding-top: var(--padding_large);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: var(--padding_large);
}

.container_middle {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding_medium);
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Horizontal */
  align-items: center; /* Vertical */
  gap: var(--padding_medium);
}

.flex_grid {
  display: grid;
  gap: var(--padding_medium);
}

.light {
  background-color: var(--color_baige_light);
}

.dark {
  background-color: var(--color_baige_dark);
}

.black {
  background-color: var(--color_black);
}

.p_end {
  padding-bottom: var(--padding_medium);
}

.label_description {
  text-align: center;
}


/* ----- ----- NAVIGATION ------ ----- */
.top_nav {
  top: 0;
  z-index: 100;
  position: fixed;
  padding-top: 0px;
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: 0px;
}

.top_nav_bar {
  height: var(--size_header);
  justify-content: space-between;
}

.nav_item {
  line-height: var(--size_header);
  font-weight: 700;
  color: var(--color_baige_light);
}

.top_nav_filled {
  background-color: var(--color_black);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.25s ease-out;
  transition: box-shadow 0.25s ease-out;
}

.mobile_nav {
  top: 0;
  z-index: 110;
  position: fixed;
  padding: 0px;
  gap: 0px;
  display: none;
  background-color: var(--color_black);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.mobile_nav_bar {
  height: var(--size_header);
  justify-content: space-between;
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
}

.mobile_item {
  width: 100%;
  height: var(--size_header);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  line-height: var(--size_header);
  font-weight: 700;
  color: var(--color_baige_light);
  background-color: var(--color_gray_dark);
}

.active,
.mobile_item:hover {
  background-color: var(--color_gray_dark_hover);
}

#btnMenu {
  display: none;
  min-width: var(--size_button_small);
  background: url(./public/iconMenu.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

#btnClose {
  min-width: var(--size_button_small);
  background: url(./public/iconClose.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
}

/* ----- ----- Hero content ------ ----- */
.container_hero {
  width: 100%;
  height: 400px;
  background-image: url("./public/bgHeader.jpg");
  background-position: center;
  background-size: cover;
}

.content_hero {
  position: relative;
  height: 100%;
  z-index: 20;
}

.overlay_hero {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  z-index: 10;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0.00%,rgba(0, 0, 0, 0) 75.00%);
}

.overlay_tentacles {
  z-index: 11;
  background-image: url("./public/bgTentaclesOverlay.png");
  background-position: right;
  background-size: cover;
}

.image_app_store {
  height: var(--padding_large);
  min-height: var(--padding_large);
  object-fit: cover;
  text-decoration: none;
}

/* ----- ----- About Section ----- ----- */
.content_gallery {
  grid-template-columns: 1fr 1fr 1fr;
}

.card_gallery {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-radius: var(--corner_radius);
}

.card_gallery_image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: var(--corner_radius);
}

/* ----- ----- Release Notes ----- ----- */
.content_release_notes {
  grid-template-columns: 1fr 1fr;
}

.card_release_note {
  width: 100%;
  height: 100%;
  position: relative;
  padding: var(--padding_medium);
  border-radius: var(--corner_radius);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--padding_small);
  background-color: var(--color_baige_light);
}

/* ----- ----- Legal section / collapsibles ----- ----- */
.collapsible {
  width: 100%;
  height: auto;
  cursor: pointer;
  text-align: left;
  padding: var(--padding_medium);
  background-color: var(--color_baige_dark);
  border-radius: var(--corner_radius);
}

.collapsible:hover {
  background-color: var(--color_baige_dark_hover);
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: var(--padding_small);
  float: right;
}

.coll_active { /* Added with Javascript */
  border-bottom-left-radius: 0px;
  border-top-left-radius: var(--corner_radius);
  border-top-right-radius: var(--corner_radius);
  border-bottom-right-radius: 0px;
  background-color: var(--color_baige_dark_hover);
}

.coll_active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

.container_collapsible {
  overflow: hidden;
  background-color: var(--color_baige_light);
  max-height: 0;
  transition: max-height 0.2s ease-out;
} 

.content_collapsible {
  align-items: flex-start;
  padding: var(--padding_medium);
  border-bottom-left-radius: var(--corner_radius);
  border-bottom-right-radius: var(--corner_radius);
  background-color: var(--color_baige_dark);
  gap: 0px;
}

/* ----- ----- Contact section ----- ----- */
.container_contact {
  width: 100%;
  max-width: 1200px;
  gap: var(--padding_medium);
}

.asterix {
  color: var(--color_red);
}

.content_input {
  width: 100%;
}

.input_field {
  width: 100%;
  height: auto;
  cursor: auto;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  padding: var(--padding_small);
  border-color: var(--color_gray_medium);
  border-width: 1px;
  border-radius: 10px;
  background-color: var(--color_white);
}


/* ----- ----- Footer ----- ----- */
.container_stretched.black {
  padding-top: var(--padding_small);
  padding-bottom: var(--padding_small);
}

.content_footer {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  gap: var(--padding_small);
}

.text_footer {
  font-family: "Birmingham", serif;
  color: var(--color_baige_light);
}


/* ----- ----- Handling responsivity ----- ----- */
@media(max-width: 980px) {
  .content_gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 780px) {
  .nav_menu {
    display: none;
  }

  #btnMenu {
    display: block;
  }

  .content_gallery {
    grid-template-columns: 1fr;
  }

  .content_release_notes {
    grid-template-columns: 1fr;
  }
  
  .content_footer {
    flex-direction: column;
  }
}

@media(max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
  }

  #btnMenu {
    width: var(--size_button_small);
  }
  
  #btnClose {
    width: var(--size_button_small);
  }

}