.container_page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color_black);
}

.container_stretched {
  width: 100%;
  padding-top: var(--padding_large);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: var(--padding_large);
}

.container_middle {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding_medium);
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Horizontal */
  align-items: center; /* Vertical */
  gap: var(--padding_medium);
}

.flex_grid {
  display: grid;
  gap: var(--padding_medium);
}

.light {
  background-color: var(--color_baige_light);
}

.dark {
  background-color: var(--color_baige_dark);
}

.black {
  background-color: var(--color_black);
}

.label_description {
  text-align: center;
}


/* ----- ----- NAVIGATION ------ ----- */
.top_nav {
  top: 0;
  z-index: 100;
  position: fixed;
  padding-top: 0px;
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: 0px;
}

.top_nav_bar {
  height: 60px;
  justify-content: space-between;
}

.nav_item {
  line-height: 60px;
  font-weight: 700;
  color: var(--color_baige_light);
}

.top_nav_filled {
  background-color: var(--color_black);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.25s ease-out;
  transition: box-shadow 0.25s ease-out;
}

.mobile_nav {
  top: 0;
  z-index: 110;
  position: fixed;
  padding: 0px;
  gap: 0px;
  display: none;
  background-color: var(--color_black);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.mobile_nav_bar {
  height: 60px;
  justify-content: space-between;
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
}

.mobile_item {
  width: 100%;
  height: 60px;
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  line-height: 60px;
  font-weight: 700;
  color: var(--color_baige_light);
  background-color: var(--color_gray_dark);
}

#btnMenu {
  display: none;
  background: url(./public/iconMenu.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

#btnClose {
  background: url(./public/iconClose.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
}

/* ----- ----- Hero content ------ ----- */
.container_hero {
  width: 100%;
  height: 400px;
  background-image: url("./public/bgHeader.jpg");
  background-position: center;
  background-size: cover;
}

.content_hero {
  position: relative;
  height: 100%;
  z-index: 20;
}

.overlay_hero {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  z-index: 10;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0.00%,rgba(0, 0, 0, 0) 75.00%);
}

.overlay_tentacles {
  z-index: 11;
  background-image: url("./public/bgTentaclesOverlay.png");
  background-position: right;
  background-size: cover;
}

.image_app_store {
  height: var(--padding_large);
  min-height: var(--padding_large);
  object-fit: cover;
  text-decoration: none;
}

/* ----- ----- Page content ----- ----- */
.content_gallery {
  grid-template-columns: 1fr 1fr 1fr;
}

.card_gallery {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-radius: var(--corner_radius);
}

.card_gallery_image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: var(--corner_radius);
}

.content_release_notes {
  grid-template-columns: 1fr 1fr;
}

.card_release_note {
  width: 100%;
  min-width: 260px;
  position: relative;
  padding: var(--padding_medium);
  border-radius: var(--corner_radius);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--padding_small);
  background-color: var(--color_baige_light);
}

/* ----- ----- Collapsible ----- ----- */
.collapsible {
  width: 100%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, 
.collapsible:hover {
  background-color: #ccc;
}

.content_collapsible {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 0;
  transition: max-height 0.2s ease-out;
} 

/* ----- ----- Contact section ----- ----- */
.container_contact {
  width: 100%;
  max-width: 1200px;
  display: grid;
  gap: var(--padding_medium);
  margin-top: var(--padding_medium);
}

.landing-page-input-name {
  width: 100%;
}

.landing-page-text09 {
  color: #c01010;
}
.landing-page-input-name1 {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-input-address {
  width: 100%;
}
.landing-page-text11 {
  color: #c01010;
}

.landing-page-input-email {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-label-subject {
  width: 100%;
}

.landing-page-input-subject {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-container1 {
  width: 100%;
}

.landing-page-textarea {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.landing-page-button {
  width: 120px;
  padding: 15px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  background-color: #ece8d8;
}


/* ----- ----- Footer ----- ----- */
.container_stretched.black {
  padding-top: var(--padding_small);
  padding-bottom: var(--padding_small);
}

.content_footer {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  gap: var(--padding_small);
}


/* ----- ----- Handling responsivity ----- ----- */
@media(max-width: 991px) {
  .content_gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 767px) {
  .nav_menu {
    display: none;
  }

  #btnMenu {
    display: block;
  }

  .content_gallery {
    grid-template-columns: 1fr;
  }

  .content_release_notes {
    grid-template-columns: 1fr;
  }
  
  .content_footer {
    flex-direction: column;
  }
}

@media(max-width: 479px) {
  h1 {
    font-size: 24px;
  }
}