:root {
  --color_dark_green: #003700;
  --color_dark_blue: #103050;
  --color_gray_medium: #404040;
  --color_gray_dark: #101010;
  --color_gray_dark_hover: #202020;
  --color_black: #060606;
  --color_white: #F5F5F5;
  --color_baige_light: #ece8d8;
  --color_baige_dark: #DDD5C0;
  --color_baige_dark_hover: #CDC5B0;
  --color_red: #701010;
}

@font-face {
  font-family: "Birmingham";
  src: url(./font_birmingham.ttf) format("truetype");
}

* {  
  box-sizing: border-box;  
  border-width: 0;
}

h1, h2, h3, h4, p, li {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  text-transform: none;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  font-family: "Birmingham", serif;
  color: var(--color_baige_light);
}

h2 {
  font-size: 24px;
  font-family: "Birmingham", serif;
  color: var(--color_dark_green);
}

h3 {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  color: var(--color_dark_green);
}

h4 {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  color: var(--color_dark_green);
}

p, li {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: var(--color_black);
}

a {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  color: inherit;  
  text-decoration: inherit;
}

button {
  width: auto;
  min-width: calc(var(--padding_large) * 3);
  height: var(--size_button_large);
  cursor: pointer;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--color_dark_green);
  padding-top: var(--padding_small);
  padding-left: var(--padding_medium);
  padding-right: var(--padding_medium);
  padding-bottom: var(--padding_small);
  border-radius: var(--corner_radius);
  background-color: var(--color_baige_light);
}

button:hover:enabled {
  background-color: var(--color_baige_dark_hover);
}

button:disabled {
  opacity: 0.75;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

body {  
  margin: 0;
}

.shadow_normal {
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.divider_row {
  border-bottom: 1px solid var(--color_gray_medium);
}

.icon_small {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.icon_large {
  width: 42px;
  height: 42px;
  object-fit: cover;
}